In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
url = 'https://www.bls.gov/web/laus/lauhsthl.htm'

In [3]:
tables = pd.read_html(url)
tables

[                                                State  \
                                                 State
 0                                             Alabama
 1                                              Alaska
 2                                             Arizona
 3                                            Arkansas
 4                                          California
 5                                            Colorado
 6                                         Connecticut
 7                                            Delaware
 8                                District of Columbia
 9                                             Florida
 10                                            Georgia
 11                                             Hawaii
 12                                              Idaho
 13                                           Illinois
 14                                            Indiana
 15                                               Iowa
 16                                             Kansas
 17                                           Kentucky
 18                                          Louisiana
 19                                              Maine
 20                                           Maryland
 21                                      Massachusetts
 22                                           Michigan
 23                                          Minnesota
 24                                        Mississippi
 25                                           Missouri
 26                                            Montana
 27                                           Nebraska
 28                                             Nevada
 29                                      New Hampshire
 30                                         New Jersey
 31                                         New Mexico
 32                                           New York
 33                                     North Carolina
 34                                       North Dakota
 35                                               Ohio
 36                                           Oklahoma
 37                                             Oregon
 38                                       Pennsylvania
 39                                       Rhode Island
 40                                     South Carolina
 41                                       South Dakota
 42                                          Tennessee
 43                                              Texas
 44                                               Utah
 45                                            Vermont
 46                                           Virginia
 47                                         Washington
 48                                      West Virginia
 49                                          Wisconsin
 50                                            Wyoming
 51                         Footnotes  (p) Preliminary
 52  Note: Rates shown are a percentage of the labo...
 53  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...

                                     March 2020(p)rate  \
                                     March 2020(p)rate
 0                                                 3.5
 1                                                 5.6
 2                                                 5.5
 3                                                 4.8
 4                                                 5.3
 5                                                 4.5
 6                                                 3.7
 7                                                 5.1
 8                                                 6.0
 9                                                 4.3
 10                                                4.2
 11                                                2.6
 12                                                2.6
 13                                                4.6
 14                                                3.2
 15                                                3.7
 16                                                3.1
 17                                                5.8
 18                                                6.9
 19                                                3.2
 20                                                3.3
 21                                                2.9
 22                                                4.1
 23                                                3.1
 24                                                5.3
 25                                                4.5
 26                                                3.5
 27                                                4.2
 28                                                6.3
 29                                                2.6
 30                                                3.8
 31                                                5.9
 32                                                4.5
 33                                                4.4
 34                                                2.2
 35                                                5.5
 36                                                3.1
 37                                                3.3
 38                                                6.0
 39                                                4.6
 40                                                2.6
 41                                                3.3
 42                                                3.5
 43                                                4.7
 44                                                3.6
 45                                                3.2
 46                                                3.3
 47                                                5.1
 48                                                6.1
 49                                                3.4
 50                                                3.7
 51                         Footnotes  (p) Preliminary
 52  Note: Rates shown are a percentage of the labo...
 53  Current Unemployment Rates for States and Hist...

                                       Historical High  \
                                                  Date
 0                                           Dec. 1982
 1                                           Aug. 1986
 2                                           Dec. 1982
 3                                           Feb. 1983
 4                                           Nov. 2010
 5                                           Dec. 2010
 6                                           Mar. 1976
 7                                           Dec. 1976
 8                                          Sept. 1983
 9                                           Jan. 2010
 10                                          Dec. 2010
 11                                          Mar. 1976
 12                                          Dec. 1982
 13                                          Feb. 1983
 14                                          Dec. 1982
 15                                          Jan. 1983
 16                                          Aug. 2009
 17                                          Mar. 1983
 18                                          Nov. 1986
 19                                          Jan. 1977
 20                                          Mar. 1982
 21                                          Mar. 1976
 22                                          Dec. 1982
 23                                          Jan. 1983
 24                                          Apr. 1983
 25                                          Mar. 1983
 26                                           May 1983
 27                                          Feb. 1983
 28                                          Nov. 2010
 29                                          July 1992
 30                                          Jan. 1977
 31                                          Mar. 1983
 32                                          Feb. 1976
 33                                          Mar. 2010
 34                                          Feb. 1983
 35                                          Jan. 1983
 36                                          Apr. 1983
 37                                           May 2009
 38                                          Feb. 1983
 39                                          Aug. 2010
 40                                          Jan. 1983
 41                                          Jan. 1983
 42                                          Jan. 1983
 43                                          Nov. 1986
 44                                          Mar. 1983
 45                                          Apr. 1976
 46                                          Dec. 1982
 47                                          Nov. 1982
 48                                          Feb. 1983
 49                                          Jan. 1983
 50                                          Dec. 1986
 51                         Footnotes  (p) Preliminary
 52  Note: Rates shown are a percentage of the labo...
 53                                                NaN

                                                        \
                                                  Rate
 0                                                15.5
 1                                                11.2
 2                                                11.5
 3                                                10.3
 4                                                12.3
 5                                                 8.9
 6                                                 9.8
 7                                                 9.8
 8                                                11.3
 9                                                11.3
 10                                               10.6
 11                                               10.2
 12                                               10.2
 13                                               13.1
 14                                               12.6
 15                                                9.1
 16                                                7.3
 17                                               12.0
 18                                               13.1
 19                                                9.0
 20                                                8.5
 21                                               10.3
 22                                               16.5
 23                                                8.9
 24                                               12.8
 25                                               10.6
 26                                                8.8
 27                                                6.3
 28                                               13.7
 29                                                7.4
 30                                               10.7
 31                                               10.5
 32                                               10.3
 33                                               11.4
 34                                                6.2
 35                                               14.0
 36                                                8.9
 37                                               11.9
 38                                               12.7
 39                                               11.3
 40                                               11.8
 41                                                5.9
 42                                               12.9
 43                                                9.2
 44                                                9.6
 45                                                8.7
 46                                                7.9
 47                                               12.2
 48                                               18.8
 49                                               11.9
 50                                                9.4
 51                         Footnotes  (p) Preliminary
 52  Note: Rates shown are a percentage of the labo...
 53                                                NaN

                                        Historical Low  \
                                                  Date
 0                                           Feb. 2020
 1                                           Mar. 2020
 2                                           July 2007
 3                                           Feb. 2020
 4                                           Feb. 2020
 5                                           Feb. 2020
 6                                           Oct. 2000
 7                                           June 1988
 8                                          Sept. 1989
 9                                           Feb. 2020
 10                                          Feb. 2020
 11                                          Nov. 2017
 12                                          Mar. 2020
 13                                          Feb. 2020
 14                                          Oct. 2000
 15                                          Mar. 2000
 16                                          Aug. 1978
 17                                          Aug. 2000
 18                                          Oct. 2007
 19                                         Sept. 2019
 20                                          Mar. 2020
 21                                          Oct. 2000
 22                                          Mar. 2000
 23                                          Feb. 1999
 24                                          Aug. 2018
 25                                          Oct. 2018
 26                                          Feb. 2007
 27                                          Oct. 1990
 28                                          Feb. 2020
 29                                          Mar. 1988
 30                                          July 2019
 31                                         Sept. 2007
 32                                          Feb. 2020
 33                                          Apr. 1999
 34                                          Mar. 2020
 35                                          Feb. 2001
 36                                          Dec. 2000
 37                                          Mar. 2020
 38                                           May 2000
 39                                          July 1988
 40                                          Jan. 2020
 41                                          July 2000
 42                                          Jan. 2020
 43                                          June 2019
 44                                          Dec. 2019
 45                                           May 2019
 46                                          Nov. 2000
 47                                          Feb. 2020
 48                                          July 2008
 49                                          Dec. 2018
 50                                           May 1979
 51                         Footnotes  (p) Preliminary
 52  Note: Rates shown are a percentage of the labo...
 53                                                NaN


                                                  Rate
 0                                                 2.7
 1                                                 5.6
 2                                                 3.6
 3                                                 3.5
 4                                                 3.9
 5                                                 2.5
 6                                                 2.2
 7                                                 3.0
 8                                                 4.8
 9                                                 2.8
 10                                                3.1
 11                                                2.2
 12                                                2.6
 13                                                3.4
 14                                                2.9
 15                                                2.4
 16                                                2.9
 17                                                4.1
 18                                                4.1
 19                                                2.9
 20                                                3.3
 21                                                2.6
 22                                                3.2
 23                                                2.5
 24                                                4.7
 25                                                3.0
 26                                                2.9
 27                                                2.3
 28                                                3.6
 29                                                2.2
 30                                                3.3
 31                                                3.7
 32                                                3.7
 33                                                3.0
 34                                                2.2
 35                                                3.7
 36                                                2.9
 37                                                3.3
 38                                                4.0
 39                                                3.0
 40                                                2.4
 41                                                2.4
 42                                                3.3
 43                                                3.4
 44                                                2.4
 45                                                2.3
 46                                                2.1
 47                                                3.8
 48                                                4.0
 49                                                3.0
 50                                                2.5
 51                         Footnotes  (p) Preliminary
 52  Note: Rates shown are a percentage of the labo...
 53                                                NaN  ,
                                                 State  \
                                                 State
 0                                             Alabama
 1                                              Alaska
 2                                             Arizona
 3                                            Arkansas
 4                                          California
 5                                            Colorado
 6                                         Connecticut
 7                                            Delaware
 8                                District of Columbia
 9                                             Florida
 10                                            Georgia
 11                                             Hawaii
 12                                              Idaho
 13                                           Illinois
 14                                            Indiana
 15                                               Iowa
 16                                             Kansas
 17                                           Kentucky
 18                                          Louisiana
 19                                              Maine
 20                                           Maryland
 21                                      Massachusetts
 22                                           Michigan
 23                                          Minnesota
 24                                        Mississippi
 25                                           Missouri

In [4]:
df = tables[0]
df

                                                State  \
                                                State
0                                             Alabama
1                                              Alaska
2                                             Arizona
3                                            Arkansas
4                                          California
5                                            Colorado
6                                         Connecticut
7                                            Delaware
8                                District of Columbia
9                                             Florida
10                                            Georgia
11                                             Hawaii
12                                              Idaho
13                                           Illinois
14                                            Indiana
15                                               Iowa
16                                             Kansas
17                                           Kentucky
18                                          Louisiana
19                                              Maine
20                                           Maryland
21                                      Massachusetts
22                                           Michigan
23                                          Minnesota
24                                        Mississippi
25                                           Missouri
26                                            Montana
27                                           Nebraska
28                                             Nevada
29                                      New Hampshire
30                                         New Jersey
31                                         New Mexico
32                                           New York
33                                     North Carolina
34                                       North Dakota
35                                               Ohio
36                                           Oklahoma
37                                             Oregon
38                                       Pennsylvania
39                                       Rhode Island
40                                     South Carolina
41                                       South Dakota
42                                          Tennessee
43                                              Texas
44                                               Utah
45                                            Vermont
46                                           Virginia
47                                         Washington
48                                      West Virginia
49                                          Wisconsin
50                                            Wyoming
51                         Footnotes  (p) Preliminary
52  Note: Rates shown are a percentage of the labo...
53  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...

                                    March 2020(p)rate  \
                                    March 2020(p)rate
0                                                 3.5
1                                                 5.6
2                                                 5.5
3                                                 4.8
4                                                 5.3
5                                                 4.5
6                                                 3.7
7                                                 5.1
8                                                 6.0
9                                                 4.3
10                                                4.2
11                                                2.6
12                                                2.6
13                                                4.6
14                                                3.2
15                                                3.7
16                                                3.1
17                                                5.8
18                                                6.9
19                                                3.2
20                                                3.3
21                                                2.9
22                                                4.1
23                                                3.1
24                                                5.3
25                                                4.5
26                                                3.5
27                                                4.2
28                                                6.3
29                                                2.6
30                                                3.8
31                                                5.9
32                                                4.5
33                                                4.4
34                                                2.2
35                                                5.5
36                                                3.1
37                                                3.3
38                                                6.0
39                                                4.6
40                                                2.6
41                                                3.3
42                                                3.5
43                                                4.7
44                                                3.6
45                                                3.2
46                                                3.3
47                                                5.1
48                                                6.1
49                                                3.4
50                                                3.7
51                         Footnotes  (p) Preliminary
52  Note: Rates shown are a percentage of the labo...
53  Current Unemployment Rates for States and Hist...

                                      Historical High  \
                                                 Date
0                                           Dec. 1982
1                                           Aug. 1986
2                                           Dec. 1982
3                                           Feb. 1983
4                                           Nov. 2010
5                                           Dec. 2010
6                                           Mar. 1976
7                                           Dec. 1976
8                                          Sept. 1983
9                                           Jan. 2010
10                                          Dec. 2010
11                                          Mar. 1976
12                                          Dec. 1982
13                                          Feb. 1983
14                                          Dec. 1982
15                                          Jan. 1983
16                                          Aug. 2009
17                                          Mar. 1983
18                                          Nov. 1986
19                                          Jan. 1977
20                                          Mar. 1982
21                                          Mar. 1976
22                                          Dec. 1982
23                                          Jan. 1983
24                                          Apr. 1983
25                                          Mar. 1983
26                                           May 1983
27                                          Feb. 1983
28                                          Nov. 2010
29                                          July 1992
30                                          Jan. 1977
31                                          Mar. 1983
32                                          Feb. 1976
33                                          Mar. 2010
34                                          Feb. 1983
35                                          Jan. 1983
36                                          Apr. 1983
37                                           May 2009
38                                          Feb. 1983
39                                          Aug. 2010
40                                          Jan. 1983
41                                          Jan. 1983
42                                          Jan. 1983
43                                          Nov. 1986
44                                          Mar. 1983
45                                          Apr. 1976
46                                          Dec. 1982
47                                          Nov. 1982
48                                          Feb. 1983
49                                          Jan. 1983
50                                          Dec. 1986
51                         Footnotes  (p) Preliminary
52  Note: Rates shown are a percentage of the labo...
53                                                NaN

                                                       \
                                                 Rate
0                                                15.5
1                                                11.2
2                                                11.5
3                                                10.3
4                                                12.3
5                                                 8.9
6                                                 9.8
7                                                 9.8
8                                                11.3
9                                                11.3
10                                               10.6
11                                               10.2
12                                               10.2
13                                               13.1
14                                               12.6
15                                                9.1
16                                                7.3
17                                               12.0
18                                               13.1
19                                                9.0
20                                                8.5
21                                               10.3
22                                               16.5
23                                                8.9
24                                               12.8
25                                               10.6
26                                                8.8
27                                                6.3
28                                               13.7
29                                                7.4
30                                               10.7
31                                               10.5
32                                               10.3
33                                               11.4
34                                                6.2
35                                               14.0
36                                                8.9
37                                               11.9
38                                               12.7
39                                               11.3
40                                               11.8
41                                                5.9
42                                               12.9
43                                                9.2
44                                                9.6
45                                                8.7
46                                                7.9
47                                               12.2
48                                               18.8
49                                               11.9
50                                                9.4
51                         Footnotes  (p) Preliminary
52  Note: Rates shown are a percentage of the labo...
53                                                NaN

                                       Historical Low  \
                                                 Date
0                                           Feb. 2020
1                                           Mar. 2020
2                                           July 2007
3                                           Feb. 2020
4                                           Feb. 2020
5                                           Feb. 2020
6                                           Oct. 2000
7                                           June 1988
8                                          Sept. 1989
9                                           Feb. 2020
10                                          Feb. 2020
11                                          Nov. 2017
12                                          Mar. 2020
13                                          Feb. 2020
14                                          Oct. 2000
15                                          Mar. 2000
16                                          Aug. 1978
17                                          Aug. 2000
18                                          Oct. 2007
19                                         Sept. 2019
20                                          Mar. 2020
21                                          Oct. 2000
22                                          Mar. 2000
23                                          Feb. 1999
24                                          Aug. 2018
25                                          Oct. 2018
26                                          Feb. 2007
27                                          Oct. 1990
28                                          Feb. 2020
29                                          Mar. 1988
30                                          July 2019
31                                         Sept. 2007
32                                          Feb. 2020
33                                          Apr. 1999
34                                          Mar. 2020
35                                          Feb. 2001
36                                          Dec. 2000
37                                          Mar. 2020
38                                           May 2000
39                                          July 1988
40                                          Jan. 2020
41                                          July 2000
42                                          Jan. 2020
43                                          June 2019
44                                          Dec. 2019
45                                           May 2019
46                                          Nov. 2000
47                                          Feb. 2020
48                                          July 2008
49                                          Dec. 2018
50                                           May 1979
51                         Footnotes  (p) Preliminary
52  Note: Rates shown are a percentage of the labo...
53                                                NaN


                                                 Rate
0                                                 2.7
1                                                 5.6
2                                                 3.6
3                                                 3.5
4                                                 3.9
5                                                 2.5
6                                                 2.2
7                                                 3.0
8                                                 4.8
9                                                 2.8
10                                                3.1
11                                                2.2
12                                                2.6
13                                                3.4
14                                                2.9
15                                                2.4
16                                                2.9
17                                                4.1
18                                                4.1
19                                                2.9
20                                                3.3
21                                                2.6
22                                                3.2
23                                                2.5
24                                                4.7
25                                                3.0
26                                                2.9
27                                                2.3
28                                                3.6
29                                                2.2
30                                                3.3
31                                                3.7
32                                                3.7
33                                                3.0
34                                                2.2
35                                                3.7
36                                                2.9
37                                                3.3
38                                                4.0
39                                                3.0
40                                                2.4
41                                                2.4
42                                                3.3
43                                                3.4
44                                                2.4
45                                                2.3
46                                                2.1
47                                                3.8
48                                                4.0
49                                                3.0
50                                                2.5
51                         Footnotes  (p) Preliminary
52  Note: Rates shown are a percentage of the labo...
53                                                NaN

In [5]:
df["Report_Month"]="March_2020"
df.columns = ["state", "rate", "high_date", "high_rate", "low_date", "low_rate", "report_month"]
df = df.drop([51, 52, 53])
df.head()

        state rate  high_date high_rate   low_date low_rate report_month
0     Alabama  3.5  Dec. 1982      15.5  Feb. 2020      2.7   March_2020
1      Alaska  5.6  Aug. 1986      11.2  Mar. 2020      5.6   March_2020
2     Arizona  5.5  Dec. 1982      11.5  July 2007      3.6   March_2020
3    Arkansas  4.8  Feb. 1983      10.3  Feb. 2020      3.5   March_2020
4  California  5.3  Nov. 2010      12.3  Feb. 2020      3.9   March_2020

In [6]:
states = {"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut",
          "DE":"Delaware","FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana",
          "IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts",
          "MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada",
          "NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota",
          "OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina",
          "SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington",
          "WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}

state_2 = {state: abbrev for abbrev, state in states.items()}

state_2

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [7]:
df['state_id'] = df["state"].map(state_2)
       
df.tail()

,state,rate,high_date,high_rate,low_date,low_rate,report_month,state_id
46,Virginia,3.3,Dec. 1982,7.9,Nov. 2000,2.1,March_2020,VA
47,Washington,5.1,Nov. 1982,12.2,Feb. 2020,3.8,March_2020,WA
48,West Virginia,6.1,Feb. 1983,18.8,July 2008,4.0,March_2020,WV
49,Wisconsin,3.4,Jan. 1983,11.9,Dec. 2018,3.0,March_2020,WI
50,Wyoming,3.7,Dec. 1986,9.4,May 1979,2.5,March_2020,WY

In [8]:
Unemployment_df = df[["report_month","state_id","rate","high_date","low_date","low_rate"]]

In [9]:
Unemployment_df.head()

  report_month state_id rate  high_date   low_date low_rate
0   March_2020       AL  3.5  Dec. 1982  Feb. 2020      2.7
1   March_2020       AK  5.6  Aug. 1986  Mar. 2020      5.6
2   March_2020       AZ  5.5  Dec. 1982  July 2007      3.6
3   March_2020       AR  4.8  Feb. 1983  Feb. 2020      3.5
4   March_2020       CA  5.3  Nov. 2010  Feb. 2020      3.9

In [10]:
# conntecting to DB
connection_string = "postgres:postgres@localhost:5432/covid19_db"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
#retrieve existing tables
engine.table_names()

['us_states_cases',
 'index_prices',
 'state',
 'country',
 'country_cases',
 'gas_price',
 'hospital_beds',
 'us_unemployment_stats']

In [12]:
#Use pandas to load csv converted DataFrame into database
Unemployment_df.to_sql(name='us_unemployment_stats', con=engine, if_exists='append', index=False)

In [13]:
# read data from teable
pd.read_sql_query('select * from us_unemployment_stats', con=engine).head()

  report_month state_id  rate  high_date high_rate   low_date low_rate
0   March_2020       AL   3.5  Dec. 1982      None  Feb. 2020      2.7
1   March_2020       AK   5.6  Aug. 1986      None  Mar. 2020      5.6
2   March_2020       AZ   5.5  Dec. 1982      None  July 2007      3.6
3   March_2020       AR   4.8  Feb. 1983      None  Feb. 2020      3.5
4   March_2020       CA   5.3  Nov. 2010      None  Feb. 2020      3.9